## jekyll
_site
.sass-cache
.jekyll-metadata

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*
*.tex~
*.txt~
*.bib~
# these rules might exclude image files for figures etc.
*.ps
# *.pdf
# *.eps

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:

# algorithms
*.alg
*.loa

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

#(e)ledmac/(e)ledpar
*.end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# hyperref
*.brf

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mtc
*.mtc0

# minted
*.pyg

# morewrites
*.mw

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# todonotes
*.tdo

# xindy
*.xdy

# Matsen group
.sconsign.dblite
SConstruct

# @gavruskin
tmp/
.DS_Store
.idea
__pycache__
*.pyc
*.local
*.swp
*.spl
.RData
.Rhistory
*.tmp
test/
*internal.html

talks/images/3_pers_dev_time_conf_int_as_bars.svg
talks/images/3_reps_dev_time_std_err_as_range.svg
talks/images/Alexei_with_Tanja.svg
talks/images/Alexei_with_trees.svg
talks/images/Alison.jpg
talks/images/BHV_1.png
talks/images/BHV_123.svg
talks/images/BHV_2.png
talks/images/BHV_3.png
talks/images/Bernd.jpg
talks/images/Bernd_Niko.svg
talks/images/Chris.jpg
talks/images/Coffee-by-netalloy.svg
talks/images/Coffee.svg
talks/images/Coffee_1.svg
talks/images/Coffee_2.svg
talks/images/Coffee_3.svg
talks/images/Coffee_4.svg
talks/images/Coffee_5.svg
talks/images/Coffee_online.svg
talks/images/Coffee_online_1.svg
talks/images/Coffee_online_2.svg
talks/images/Coffee_online_3.svg
talks/images/Coffee_online_4.svg
talks/images/Coffee_online_5.svg
talks/images/Coffee_online_to_trees.svg
talks/images/Coffee_to_trees.svg
talks/images/DNA.svg
talks/images/Erick.png
talks/images/Erick_Chris.svg
talks/images/HIV_M_dating.png
talks/images/HIV_rank_vs_stats.png
talks/images/IMG_20170109_080213.jpg
talks/images/IMG_20170109_092400.jpg
talks/images/IMG_20170109_100106.jpg
talks/images/IMG_20170109_100119.jpg
talks/images/IMG_20170109_100225.jpg
talks/images/IMG_20170109_100245.jpg
talks/images/IMG_20170109_100321.jpg
talks/images/IMG_20170109_100406.jpg
talks/images/IMG_20170109_100515.jpg
talks/images/IMG_20170109_101739.jpg
talks/images/IMG_20170109_160825.jpg
talks/images/Katharina_trees.png
talks/images/Katharina_trees.svg
talks/images/Kristina.jpg
talks/images/Kristina_Niko.svg
talks/images/LBA_problem.pdf
talks/images/LBA_problem.svg
talks/images/Microbiota_intestinal.jpg
talks/images/Mike.jpg
talks/images/Mike.svg
talks/images/Mike_terraces_table1.png
talks/images/Mike_terraces_title.png
talks/images/Mike_terraces_title_table.png
talks/images/Mike_terraces_title_table.svg
talks/images/Mike_terraces_title_table_highlight.png
talks/images/Mike_terraces_title_table_highlight.svg
talks/images/Mrbayes.png
talks/images/NJ_original_citations.png
talks/images/NJ_original_citations.svg
talks/images/Niko.png
talks/images/RNNI_summary.svg
talks/images/Tanja.png
talks/images/Will.jpg
talks/images/Will.svg
talks/images/Will_Alison_Niko.svg
talks/images/bayesian_citations.svg
talks/images/beast.png
talks/images/climber.svg
talks/images/computer.svg
talks/images/computer_2.svg
talks/images/concatenation_inconsitency_Kubatko.png
talks/images/concatenation_inconsitency_Kubatko.svg
talks/images/concatenation_inconsitency_Kubatko_citations.png
talks/images/concatenation_inconsitency_Kubatko_citations.svg
talks/images/curvatureNNI_background_image.png
talks/images/curvatureNNI_background_image.svg
talks/images/curvatureNNI_background_image_from_paper.svg
talks/images/data3_vs_inferred.svg
talks/images/dugong.jpg
talks/images/elephant.png
talks/images/fire.svg
talks/images/fitlands.svg
talks/images/fitlands_comparison.svg
talks/images/fitlands_comparison_all.svg
talks/images/fitlands_graph.svg
talks/images/fitness_conf_int_as_bars.svg
talks/images/genotope.png
talks/images/graph_grammar.png
talks/images/gut_microbiom.svg
talks/images/hills.svg
talks/images/hyrax_phylo.png
talks/images/hyrax_phylo.svg
talks/images/manatee.jpg
talks/images/microinteraction.svg
talks/images/microinteractions_data_3.svg
talks/images/next_flue_tree.png
talks/images/next_flue_tree.svg
talks/images/next_flue_tree_Nsk.png
talks/images/nextflue_logo.png
talks/images/nni_loop.png
talks/images/orange_soda_can.svg
talks/images/penguin_emperor.svg
talks/images/shapes.svg
talks/images/shapes_2d.png
talks/images/shapes_3d.png
talks/images/spr_dl6.svg
talks/images/spr_vl6.pdf
talks/images/spr_vl6.png
talks/images/t_tau_spaces.svg
talks/images/terrace1.png
talks/images/terrace2.png
talks/images/terraces.svg
talks/images/tree_big.svg
talks/images/tree_medium.svg
talks/images/tree_medium2.svg
talks/images/tree_small.svg
talks/images/trees.gif
talks/images/unrooted_SPR_def_Chris.pdf
talks/images/waiting.svg
talks/images/roche_novartis.svg
talks/images/LC.jpg
talks/images/AirNZ.jpg
talks/images/Dunedin_RW_station.jpg
talks/images/Dunedin_heater.jpg
talks/images/ETH_image_covered_completely_non_transparent_fake.svg
talks/images/Kristina_Lisa_Niko.svg
talks/images/Otago_campus.jpg
talks/images/Otago_main_building.jpg
talks/images/Otago_main_building.jpg.svg
talks/images/Otago_main_building.svg
talks/images/RDF_foundation.png
talks/images/Sarah.jpg
talks/images/Sumner_beach.jpg
talks/images/Will_Alison_Niko_Lisa.svg
talks/images/otago_cs_logo_sm.jpg
talks/images/otago_university_logo.pdf
talks/images/otago_university_logo.png
talks/images/u_otago.jpg
