---
layout: default
---

<div class="home">

<h1>Contacts</h1>

<table>
<tbody>
<tr>
<td><b>Address &nbsp; &nbsp;</b></td>
<td><br>
</td>
<td>
    <a href="https://www.bsse.ethz.ch/cbg">Computational Biology Group</a>
</td>
</tr>

<tr>
<td>
</td>
<td>
    <br>
</td>
<td>
    <a href="https://www.bsse.ethz.ch/">Department of Biosystems Science and Engineering</a>
</td>
</tr>

<tr>
<td>
</td>
<td>
    <br>
</td>
<td>
    <a href="https://www.ethz.ch/">ETH Zürich</a>
</td>
</tr>

<tr>
<td>
    <b>Office</b>
</td>

<td>
    <br>
</td>
<td>
    <a href="https://goo.gl/maps/Fhzda2C4nKu">WRO 1078-3.10</a>, <a href="https://goo.gl/maps/dKW1EA4hC322">Mattenstrasse 26, 4058 Basel</a>
</td>
</tr>

<tr>
<td>
    <b>Email</b>
</td>
<td>
    <br>
</td>
<td>
    <a href="mailto:alex@gavruskin.com">alex@gavruskin.com</a>
</td>
</tr>

<tr>
<td>
    <b>Phone</b>
</td>

<td>
    <br>
</td>

<td>
    <a href="https://hangouts.google.com/">+41 61 387 3203</a>
</td>
</tr>

</tbody>
</table>
<br>

Please consult the <a href="/calendar/">calendar</a> to see my schedule and make an appointment.<br>

Here is my <a href="http://gavruskin.github.io/AGcv_short.pdf">Curriculum Vitae</a> (in .pdf) and my <a href="/pictures/">photos</a>.<br><br>

  <h1>Areas of scientific interest</h1>
    My research interests are in biomathematics and bioinformatics.
    I am working on mathematical and computational methods in evolutionary biology, population genetics, epidemiology, and cancer biology.
    The specific projects I am currently involved in are:
    <ul>
	<li> <i>Fitness landscapes and gene interactions:
	    <a href="https://github.com/gavruskin/fitlands">models, computing</a>, <a href="https://github.com/gavruskin/microinteractions">analysis</a>.</i><br>
	    Collaborators:
	    <a href="https://www.bsse.ethz.ch/cbg/group/people/person-detail.html?persid=149417">Niko Beerenwinkel</a>,
	    <a href="http://www.american.edu/cas/faculty/kcrona.cfm">Kristina Crona</a>,
	    <a href="https://math.berkeley.edu/~bernd/">Bernd Sturmfels</a>, and
	    <a href="https://mcb.berkeley.edu/labs/ludington/">Will Ludington</a>.
	<li> <i>Gene interactions in genome-scale data.</i><br>
	    Collaborators:
	    <a href="http://www.mimuw.edu.pl/~szczurek/">Ewa Szczurek</a> and
	    <a href="https://www.bsse.ethz.ch/cbg/group/people/person-detail.html?persid=149417">Niko Beerenwinkel</a>.
	<li> <i>Statistical and computational aspects of phylogenetic time-trees.</i><br>
	    Collaborators:
	    <a href="https://unidirectory.auckland.ac.nz/profile/a-drummond">Alexei Drummond</a>,
	    <a href="https://www.bsse.ethz.ch/cevo/the-group/people/person-detail.html?persid=160309">Tanja Stadler</a>,
	    <a href="http://matsen.fhcrc.org/">Erick Matsen</a>, and
	    <a href="https://web.cs.dal.ca/~whidden/">Chris Whidden</a>.
    </ul>
    At early stages of my career, I worked on various topics in mathematics and computer science, with computational methods and algorithms being a unifying theme of my research.
    In mathematics, I have worked in computable model theory, algebra, and analysis. In computer science, I have mostly been working on computational complexity and data structures.

Here is the <a href="/publications/">complete list of my publications</a> with downloadable .pdf's.

